img {
  width: 60px;
  height: 60px;
}

.piece {
  cursor: grab;
  transition: all ease-in .5s;
}

.piece:active {
  cursor: grabbing;
  transition: all ease-in .5s;
}

.piece.cdk-drag-placeholder {
  display: none;
}

.piece:not(.cdk-drag-preview) {
  transform: none !important;
}
