.board {
  display: inline-flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  border: 1px solid black;
}

.row {
  display: inline-flex;
}

.field, .highlight {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  background-color: #d3aa50;
}

.selected, .destination {
  background-color: rgba(0, 90, 0, .35);
}

.destination {
  background-color: rgba(0, 90, 0, .35);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.capture {
  background-color: rgba(90, 0, 0, .35);
  border-radius: 0;
  width: 60px;
  height: 60px;
}
