<axes>
  <div class="board" cdkDropListGroup>
    <div class="row" *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]">
      <div class="field" *ngFor="let column of [0, 1, 2, 3, 4, 5, 6, 7]"
           cdkDropList
           [cdkDropListData]="{row, column}"
           [class.color]="column % 2 !== row % 2"
           (cdkDropListDropped)="dropPiece($event)"
           (mousedown)="selectDestination(row, column)">
        <div class="highlight"
             [class.capture]="isCapture(row, column)"
             [class.selected]="isSelected(row, column)"
             [class.destination]="isDestination(row, column)">
        <piece
            [row]="row"
            [column]="column"
            (selectedPieceChange)="setSelectedPiece($event)"
            (destinationMapChange)="setDestinationMap($event)"
        ></piece>
        </div>
      </div>
    </div>
  </div>
</axes>
