<h1 mat-dialog-title>Choose piece</h1>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="PieceType.BISHOP"><img [src]="'assets/pieces/cardinal/wb.svg'"></button>
  <button mat-button [mat-dialog-close]="PieceType.KNIGHT"><img [src]="'assets/pieces/cardinal/wn.svg'"></button>
  <button mat-button [mat-dialog-close]="PieceType.ROOK"><img [src]="'assets/pieces/cardinal/wr.svg'"></button>
  <button mat-button [mat-dialog-close]="PieceType.QUEEN"><img [src]="'assets/pieces/cardinal/wq.svg'"></button>
</div>
